body { text-align: center; background-color: lightgrey; }

body .flex-container { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-direction: row; flex-direction: row; -ms-flex-align: start; align-items: flex-start; }

body .flex-container .column { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; text-align: center; width: 100%; min-width: 200px; max-width: 25%; padding: 10px; }

body .flex-container .column .btn { margin: 5px; }

body .flex-container .column ul { list-style-type: none; padding-left: 0; }

body .flex-container .column ul .card { min-width: 200px; width: 100%; cursor: pointer; }

body .flex-container .column ul .card p { margin: 5px; background-color: lightcyan; }
